.App {
  text-align: center;
  font-family: andale mono, monospace;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.row-row {
  margin-bottom: 30px;
  color: #f0f0f0;
  font-size: 16px;
}
.row-row button {
  border: 0;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  color: #f0f0f0;
}

.bitrow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bitrow > span {
  margin-right: 1em;
}

.binblock {
  display: flex;
}
.block {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: transparent;
  cursor: pointer;
}
.block.active {
  background-color: #ccc;
}

.bin-value {
  margin-left: 1em;
  color: #4d5564;
}